<div class="jumbotron">
    <h1>Panel administracyjny</h1>
    <p class="lead">Witaj w panelu administracyjnym</p>
    <p><a href="@Url.Action("List","Bundle")" class="btn btn-primary btn-large">Przejdź do listy pakietów&raquo;</a></p>
</div>