@{
    ViewBag.Title = "Kategorie";
}
@model WroServer.Models.ListaKategoriiModel

<h2>Kategorie</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Img</th>
            <th>Nazwa</th>
            <th>ID<th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td><input type="date" id="img_url"/></td>
        <td><input type="text" id="Name" value=""/></td>
        <td><input type="button" value="Dodaj" id="AjaxPost"/></td>
    </tr>

    @foreach (var kategoria in Model.ListaKategorii)
    {
        <tr>
            <td><img src="@kategoria.LinkDoObrazka" class="miniaturka"/></td>
            <td>@kategoria.Nazwa</td>
            <td>@kategoria.Id</td>
        </tr>
    }

    </tbody>
    <script>
        var obj = { img_url=, name= };
    </script>
</table>