@{
    ViewBag.Title = "Wydarzenia";
}
@section scripts{
@Scripts.Render("~/bundles/widok_wydarzen")
}

<legend>Wydarzenia</legend>

<div id="lista-wydarzen">

</div>


<div id="wzorzec" hidden>
    <div class="wiersz">
        <div class="wydarzenie-naglowek">
            <div class="wydarzenie-naglowek-przed-rozwinieciem">
                <div class="row">
                    <div class="col-md-2 col-sm-12 pozorny-pion2">
                        <div class="crop"><img src="~/Content/Images/wydarzenia/ex1.jpg" /></div>
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <div class="col-md-9 col-sm-12 wysrodkuj-pionowo">
                            --##nazwa##--
                        </div>
                        <div class="col-md-3 col-sm-12 wysrodkuj-pionowo z-prawej-md">
                            --##data##--
                        </div>
                        <div class="col-md-9 col-sm-12 wysrodkuj-pionowo">
                            --##kategoria##--
                        </div>
                        <div class="col-md-3 col-sm-12 wysrodkuj-pionowo z-prawej-md">
                            --##miejsce##--
                        </div>
                    </div>
                </div>
            </div>

            <div class="wydarzenie-naglowek-po-rozwinieciu" style="display: none;">
                <div class="row">
                    <div class="col-sm-12 wysrodkuj-pionowo">
                        --##nazwa##--
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>-------------------------------------------------------------------------</p>
<p>Tak to ma wyglądać:</p>
<div class="wiersz">
        <div class="wydarzenie-naglowek">
            <div class="wydarzenie-naglowek-przed-rozwinieciem">
                <div class="row">
                    <div class="col-md-2 col-sm-12 pozorny-pion2">
                        <div class="crop"><img src="~/Content/Images/wydarzenia/ex1.jpg" /></div>
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <div class="col-md-9 col-sm-12 wysrodkuj-pionowo">
                            SAMOSPALENIE
                        </div>
                        <div class="col-md-3 col-sm-12 wysrodkuj-pionowo z-prawej-md">
                            26 listopad 2015
                        </div>
                        <div class="col-md-9 col-sm-12 wysrodkuj-pionowo">
                            Spektakle
                        </div>
                        <div class="col-md-3 col-sm-12 wysrodkuj-pionowo z-prawej-md">
                            Teatr Polski, sala 2
                        </div>
                    </div>
                </div>
            </div>

            <div class="wydarzenie-naglowek-po-rozwinieciu" style="display: none;">
                <div class="row">
                    <div class="col-sm-12 wysrodkuj-pionowo">
                        SAMOSPALENIE
                    </div>
                </div>
            </div>
        </div>
    
        <div class="wydarzenie-tresc" style="display: none;">
            <div id="edycja" class="row rameczka">
                <div class="container">
                    <div class="col-md-4 col-sm-12 pozorny-pion">
                        <div class="crop-large"><img src="~/Content/Images/wydarzenia/ex1.jpg" /></div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!--odtąd jest lista atrybutów-->
                        <div class="row">
                            <div class="col-md-3 col-xs-12 z-prawej-md pozorny-pion">
                                <label>Nazwa</label>
                            </div>
                            <div class="col-md-9 col-xs-12">
                                Samospalenie
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-12 z-prawej-md pozorny-pion">
                                <label>Data</label>
                            </div>
                            <div class="col-md-9 col-xs-12">
                                2015-12-27
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-12 z-prawej-md pozorny-pion">
                                <label>Kategoria</label>
                            </div>
                            <div class="col-md-9 col-xs-12">
                                Spektakle
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-12 z-prawej-md pozorny-pion">
                                <label>Cena</label>
                            </div>
                            <div class="col-md-9 col-xs-12">
                                35,00
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-12 z-prawej-md pozorny-pion">
                                <label>Opis</label>
                            </div>
                            <div class="col-md-9 col-xs-12">
                                Tutaj będzie opis<br/>blablablablablablablablablablablablablablablablablablablablabla
                            </div>
                        </div>
                        <!--dotąd jest lista atrybutów-->
                    </div>
                    <div class="col-md-2 col-sm-12">
                        @*<div class="row">a</div>
                    <div class="row">b</div>
                    <div class="row">c</div>*@
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-6 col-sm-12 z-prawej-md pozorny-pion">
                            Data dodania: 16-12-2015
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <button class="wydarzenia-edytuj-przycisk" value="Edytuj">Edytuj</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="edycja" class="row rameczka" hidden>
                <div class="container">
                    <div class="col-md-4 col-sm-12 pozorny-pion">
                        <div class="crop-large"><img src="~/Content/Images/wydarzenia/ex1.jpg" /></div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!--odtąd jest lista atrybutów-->
                        <div class="row">
                            <div class="col-md-3 col-xs-12 z-prawej-md pozorny-pion">
                                <label>Nazwa</label>
                            </div>
                            <div class="col-md-9 col-xs-12">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-12 z-prawej-md pozorny-pion">
                                <label>Data</label>
                            </div>
                            <div class="col-md-9 col-xs-12">
                                <input type="date" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-12 z-prawej-md pozorny-pion">
                                <label>Kategoria</label>
                            </div>
                            <div class="col-md-9 col-xs-12">
                                <select class="form-control">
                                    <option>Kino</option>
                                    <option>Spektakle</option>
                                    <option>Koncerty</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-12 z-prawej-md pozorny-pion">
                                <label>Cena</label>
                            </div>
                            <div class="col-md-9 col-xs-12">
                                <input type="number" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-12 z-prawej-md pozorny-pion">
                                <label>Opis</label>
                            </div>
                            <div class="col-md-9 col-xs-12">
                                <textarea class="col-xs-12" rows="6" placeholder="Opis" required></textarea>
                            </div>
                        </div>
                        <!--dotąd jest lista atrybutów-->
                    </div>
                    <div class="col-md-2 col-sm-12">
                        @*<div class="row">a</div>
                        <div class="row">b</div>
                        <div class="row">c</div>*@
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-6 col-sm-12 z-prawej-md pozorny-pion">
                            Data dodania: 16-12-2015
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <button class="wydarzenia-edytuj-przycisk" value="Edytuj">Edytuj</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
