@{
    ViewBag.Title = "Wydarzenia";
}
@section scripts{
@Scripts.Render("~/bundles/widok_wydarzen")
}

<legend>Wydarzenia</legend>

<div id="lista-wydarzen">

</div>

@Html.Partial("WzorzecWierszaWydarzen");
@Html.Partial("ModalEdycjiObrazkow");


<!-- Modal -->
