@{
    ViewBag.Title = "Wydarzenia";
}

<legend>Wydarzenia</legend>

<div class="rozwijalny">
    <div class="header">
        <span>Expand</span>

    </div>
    <div class="content">
        <ul>
            <li>This is just some random content.</li>
            <li>This is just some random content.</li>
            <li>This is just some random content.</li>
            <li>This is just some random content.</li>
        </ul>
    </div>
</div>

<div id="wyd-1" class="row wydarzenie" style="margin-top: 5px;margin-bottom: 5px; margin-right: 0px;margin-left: 0px;border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px solid #bfa6bf;">
    <div class="wyd-content-collapsed">
        <div class="col-md-2 col-sm-12">
            <div class="crop"><img src="~/Content/Images/wydarzenia/ex1.jpg" /></div>
        </div>
        <div class="col-md-4 col-sm-12">
            <h4>SAMOSPALENIE</h4>
        </div>
        <div class="col-md-3 col-sm-12">
            <h4>26 listopad 2015</h4>
        </div>
        <div class="col-md-3 col-sm-12">
            <h4>30zł</h4>
        </div>
    </div>
    <div hidden class="wyd-content-expanded">
        <div class="col-sm-12 col-md-3">
            <div class="crop-large"><img src="~/Content/Images/wydarzenia/ex1.jpg" /></div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Nazwa</span>
                <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>
</div>
@*<div id="wyd-1-expand" hidden class="row" style="margin-top: 5px;margin-bottom: 5px; margin-right: 0px;margin-left: 0px;border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px solid #bfa6bf;">
    <div class="col-sm-12">
        <div class="crop"><img src="~/Content/Images/wydarzenia/ex1.jpg" /></div>
    </div>
</div>*@

<table class="table table-condensed" style="border-collapse:collapse;">
    <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Description</th>
            <th>Credit</th>
            <th>Debit</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
            <td>1</td>
            <td>05 May 2013</td>
            <td>Credit Account</td>
            <td class="text-success">$150.00</td>
            <td class="text-error"></td>
            <td class="text-success">$150.00</td>
        </tr>
        <tr>
            <td colspan="6" class="hiddenRow"><div class="accordian-body collapse" id="demo1"> Demo1 </div> </td>
        </tr>
        <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
            <td>2</td>
            <td>05 May 2013</td>
            <td>Credit Account</td>
            <td class="text-success">$11.00</td>
            <td class="text-error"></td>
            <td class="text-success">$161.00</td>
        </tr>
        <tr>
            <td colspan="6" class="hiddenRow"><div id="demo2" class="accordian-body collapse">Demo2</div></td>
        </tr>
        <tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle">
            <td>3</td>
            <td>05 May 2013</td>
            <td>Credit Account</td>
            <td class="text-success">$500.00</td>
            <td class="text-error"></td>
            <td class="text-success">$661.00</td>
        </tr>
        <tr>
            <td colspan="6" class="hiddenRow"><div id="demo3" class="accordian-body collapse">Demo3</div></td>
        </tr>
    </tbody>
</table>



<script>


    $('.accordian-body').on('show.bs.collapse', function () {
        $(this).closest("table")
            .find(".collapse.in")
            .not(this)
            .collapse('toggle')
    })

    $(document).ready(function () {
        //your code here

        $(".wydarzenie").click(function () {
            console.log("klik");
            $('.wyd-content-collapsed', this).toggle("slide", null);
            $('.wyd-content-expanded', this).toggle("slide", null);
            /*var toCoWyskakuje = $('.wyd-content-expanded', this);
            if (toCoWyskakuje.hidden) {
                $('.wyd-content-collapsed', this).show( "slow",null);
                toCoWyskakuje.hide();
            }
            else {
                $('.wyd-content-collapsed', this).hide();
                toCoWyskakuje.show("slow", null);
            }*/
        });
        $(".header").click(function () {

            $header = $(this);
            //getting the next element
            $content = $header.next();
            //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
            $content.slideToggle(500, function () {
                //execute this after slideToggle is done
                //change text of header based on visibility of content div
                $header.text(function () {
                    //change text based on condition
                    return $content.is(":visible") ? "Collapse" : "Expand";
                });
            });

        });


        });
    
</script>