@{
    ViewBag.Title = "Wydarzenia";
}
@section scripts{
@Scripts.Render("~/bundles/widok_wydarzen")
}

<div class="row">
    <div class="col-md-11 col-sm-12">
        <legend>Wydarzenia</legend>
    </div>
    <div class="col-md-1 col-sm-12">
        <div id="dodaj-btn" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span>
        </div>
    </div>
</div>


<div id="lista-wydarzen">

</div>

@Html.Partial("WzorzecWierszaWydarzen");
@Html.Partial("ModalEdycjiObrazkow");
@Html.Partial("ModalLokalizacji");

<!-- Modal -->
