@{
    ViewBag.Title = "Wydarzenia";
}

<legend>Wydarzenia</legend>

<div class="rozwijalny">
    <div class="header">
        <div  class="table-responsive">
            <table class="table">
                <tr>
                    <td>
                        <div>
                            <img src="~/Content/Images/wydarzenia/ex1.jpg" class="miniaturka" />
                        </div>
                    </td>
                    <td>
                        Nazwa wydarzenia
                    </td>
                    <td>
                        Data wydarzenia
                    </td>
                    <td>
                        Cena Wydarzenia
                    </td>
                </tr>

            </table>
        </div>
    </div>

    <div class="content">
        <ul>
            <li>This is just some random content.</li>
            <li>This is just some random content.</li>
            <li>This is just some random content.</li>
            <li>This is just some random content.</li>
        </ul>
    </div>
</div>


@*
    <div id="wyd-1" class="row wydarzenie" style="margin-top: 5px;margin-bottom: 5px; margin-right: 0px;margin-left: 0px;border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; border: 5px solid #bfa6bf;">
        <div class="wyd-content-collapsed">
            <div class="col-md-2 col-sm-12">
                <div class="crop"><img src="~/Content/Images/wydarzenia/ex1.jpg" /></div>
            </div>
            <div class="col-md-4 col-sm-12">
                <h4>SAMOSPALENIE</h4>
            </div>
            <div class="col-md-3 col-sm-12">
                <h4>26 listopad 2015</h4>
            </div>
            <div class="col-md-3 col-sm-12">
                <h4>30zł</h4>
            </div>
        </div>
        <div hidden class="wyd-content-expanded">
            <div class="col-sm-12 col-md-3">
                <div class="crop-large"><img src="~/Content/Images/wydarzenia/ex1.jpg" /></div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Nazwa</span>
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                    <input type="button" class="btn btn-default" id="hideEvent"/>
                </div>
            </div>
        </div>
    </div>
*@
<script>


    $('.accordian-body').on('show.bs.collapse', function () {
        $(this).closest("table")
            .find(".collapse.in")
            .not(this)
            .collapse('toggle')
    })

    $(document).ready(function () {
        //your code here

        //$(".wydarzenie").click(function () {
            
        //    if( ! $('.wyd-content-collapsed', this).is(":visible") ) {
        //        return;

        //    }
        //    $('.wyd-content-collapsed', this).toggle("slide", null);
        //    $('.wyd-content-expanded', this).toggle("slide", null);
        //    /*var toCoWyskakuje = $('.wyd-content-expanded', this);
        //    if (toCoWyskakuje.hidden) {
        //        $('.wyd-content-collapsed', this).show( "slow",null);
        //        toCoWyskakuje.hide();
        //    }
        //    else {
        //        $('.wyd-content-collapsed', this).hide();
        //        toCoWyskakuje.show("slow", null);
        //    }*/
        //});

        $(".header").click(function () {

            $header = $(this);
            //getting the next element
            $content = $header.next();
            //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
            $content.slideToggle(500, function () {
                //execute this after slideToggle is done
                //change text of header based on visibility of content div
                $header.text(function () {
                    //change text based on condition
                    return $content.is(":visible") ?  "Nazwa wydarzenia":"No jak zwinięte :)";
                });
            });

        });


        });
    
</script>