@{
    ViewBag.Title = "Wydarzenia";
}
@section scripts{
@Scripts.Render("~/bundles/widok_wydarzen")
}
@model WroServer.Models.WidokWydarzen.WydarzeniaModel


<legend>Wydarzenia</legend>

<div id="lista-wydarzen">

</div>

@Html.Partial("WzorzecWierszaWydarzen",Model);
@Html.Partial("ModalEdycjiObrazkow");
@Html.Partial("ModalLokalizacji");

<!-- Modal -->
