
<div id="wzorzec" hidden>
    <div class="wiersz" id="wiersz----id---">
        <div class="wydarzenie-naglowek" @*click="klikNaWiersz()"*@>
            <div class="wydarzenie-naglowek-przed-rozwinieciem">
                <!--<div class="row">-->
                    <div class="col-md-2 col-sm-12 /*pozorny-pion2*/">
                        <div class="crop"><img src="~/Content/Images/wydarzenia/ex1.jpg" /></div>
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <div class="col-md-9 col-sm-12 wysrodkuj-pionowo ">
                            <div class="row">
                                <span class="nazwa-wydarzenia naglowek-nazwa">---nazwa---</span>
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="row">
                                Kategoria:&nbsp;<span class="naglowek-kategoria">---kategoria---</span>
                            </div>
                        </div>
                            
                            
                        <div class="col-md-3 col-sm-12 wysrodkuj-pionowo z-prawej-md ">
                            <div class="row">
                                <span class="glyphicon glyphicon-calendar"></span>
                                <span class="naglowek-data">---data---</span>
                            </div>
                            <div class="row">
                                <span class="glyphicon glyphicon-time"></span>
                                <span class="naglowek-czas">---czas---</span>
                            </div>
                            <div class="row">
                                <span class="glyphicon glyphicon-map-marker"></span>
                                <span></span><span class="naglowek-miejsce">---miejsce---</span>
                            </div>
                            
                        </div>

                    </div>
                <!--</div>-->
            </div>

            <div class="wydarzenie-naglowek-po-rozwinieciu" style="display: none;">
                <div class="row">
                    <div class="col-sm-12 wysrodkuj-pionowo naglowek-nazwa2">
                        ---nazwa---
                    </div>
                </div>
            </div>
        </div>

        <div class="wydarzenie-tresc" style="display: none;">
            <div id="edycja" class="row rameczka">
                <div class="container">
                    <div class="col-md-4 col-sm-12">
                        <div class="tresc-wyswietlanie-bez-animacji">
                            <div class="crop-large wrapper obrazek----id---">
                                <img src="~/Content/Images/wydarzenia/ex1.jpg" />
                            </div>
                        </div>
                        <div class="tresc-edycja-bez-animacji"  style="display: none;">
                            <div class="crop-large darken wrapper obrazek----id---" data-toggle="modal" data-target="#modalObrazkow">
                                <img src="~/Content/Images/wydarzenia/ex1.jpg" />
                                <span class="glyphicon glyphicon-pencil"></span>
                            </div>
                        </div>
                            

                            <div class="crop-large" style="background-color: azure;"><br />Teatr Polski</div>
                        </div>
                    <div class="col-md-6 col-sm-12">
                        <!--odtąd jest lista atrybutów-->
                        <div class="row">
                            <div class="col-md-3 col-xs-12 z-prawej-md">
                                <label>Nazwa</label>
                            </div>
                            <div id="nazwa-wyswietlanie----id---" class="col-md-9 col-xs-12 tresc-wyswietlanie">
                                ---nazwa---
                            </div>
                            <div class="col-md-9 col-xs-12 tresc-edycja" style="display: none;">
                                <input id="nazwa----id---" type="text" class="form-control" /><!--id="nazwa----id---" -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-12 z-prawej-md">
                                <label>Data</label>
                            </div>
                            <div id="data-wyswietlanie----id---" class="col-md-9 col-xs-12 tresc-wyswietlanie">
                                ---data---
                            </div>
                            <div class="col-md-9 col-xs-12 tresc-edycja" style="display: none;">
                                <input id="data----id---" type="date" class="form-control" /><!--id="data----id---"-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-12 z-prawej-md">
                                <label>Godzina</label>
                            </div>
                            <div id="czas-wyswietlanie----id---" class="col-md-9 col-xs-12 tresc-wyswietlanie">
                                ---czas---
                            </div>
                            <div class="col-md-9 col-xs-12 tresc-edycja" style="display: none;">
                                <div id="czas----id---" class="input-group clockpicker" data-placement="bottom" data-align="top" data-autoclose="true">
                                    <input id="czas2----id---" type="text" class="form-control" value="---czas---"> <!--np czas: 13:14-->
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-12 z-prawej-md">
                                <label>Kategoria</label>
                            </div>
                            <div id="kategoria-wyswietlanie----id---" class="col-md-9 col-xs-12 tresc-wyswietlanie">
                                ---kategoria---
                            </div>
                            <div class="col-md-9 col-xs-12 tresc-edycja" style="display: none;">
                                <select id="kategoria----id---" class="form-control">
                                    <!--id="kategoria----id---"-->
                                    <option>Kino</option>
                                    <option>Teatr</option>
                                    <option>Sztuka nowoczesna</option>
                                    <option selected>Spektakle</option>
                                    <option>Koncerty</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-12 z-prawej-md">
                                <label>Cena</label>
                            </div>
                            <div id="cena-wyswietlanie----id---" class="col-md-9 col-xs-12 tresc-wyswietlanie">
                                ---cena---
                            </div>
                            <div class="col-md-9 col-xs-12 tresc-edycja" style="display: none;">
                                <input id="cena----id---" type="number" class="form-control" min="0" max="9999" step="0.01" size="4" /><!--id="cena----id---"-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-12 z-prawej-md">
                                <label>Link</label>
                            </div>
                            <div class="col-md-9 col-xs-12 tresc-wyswietlanie">
                                <a href="---link---" id="link-wyswietlanie----id---">---link---</a>
                            </div>
                            <div class="col-md-9 col-xs-12 tresc-edycja" style="display: none;">
                                <input id="link----id---" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-12 z-prawej-md">
                                <label>Opis</label>
                            </div>
                            <div id="opis-wyswietlanie----id---" class="col-md-9 col-xs-12 tresc-wyswietlanie">
                                ---opis---
                            </div>
                            <div class="col-md-9 col-xs-12 tresc-edycja" style="display: none;">
                                <textarea id="opis----id---" class="col-xs-12" rows="6" placeholder="Opis" required></textarea><!--id="opis----id---"-->
                            </div>
                        </div>
                        <!--dotąd jest lista atrybutów-->
                    </div>
                    <div class="col-md-2 col-sm-12">
                        @*<div class="row">a</div>
                            <div class="row">b</div>
                            <div class="row">c</div> *@
                    </div>
                    <div class="row">
                        <div class="col-md-offset-4 col-md-6 col-sm-12 z-prawej-md pozorny-pion">
                            Data dodania: 16-12-2015
                        </div>
                        <div class="col-md-2 col-sm-12">
                            <button class="btn btn-default wydarzenia-edytuj-przycisk przelacz-edycje" value="Edytuj">
                                <span class="glyphicon glyphicon-pencil tresc-wyswietlanie"></span>
                                <span class="glyphicon glyphicon-minus tresc-edycja" style="display: none;"></span>
                            </button>
                            <button id="zatwierdz-edycje----id---" class="btn btn-default wydarzenia-edytuj-przycisk tresc-edycja" style="display: none;" value="OK">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>