@{
    ViewBag.Title = "Aplikacja";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p><strong>@ViewBag.Przywitanie</strong></p>
            

        </div>
    </section>
}s
<h3>Ten tekst jest poza sekcją</h3>
