@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p><strong>@ViewBag.Przywitanie</strong></p>
            <p>
                Tę stronkę trza wywalić i coś tutaj umieścić zamiast tego (jakiś dashboard?)
            </p>
        </div>
    </section>
}s
<h3>Ten tekst jest poza sekcją</h3>

