@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p><strong>@ViewBag.Przywitanie</strong></p>
            <div class="input-group clockpicker" data-placement="bottom" data-align="top" data-autoclose="true">
                <input type="text" class="form-control" value="13:14">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
    </section>
}s
<h3>Ten tekst jest poza sekcją</h3>


<script type="text/javascript">
    $(document).ready(function () {
        $('.clockpicker').clockpicker();
    });
    
</script>