@model List<WroServer.Models.OperatorModel>

@{
    ViewBag.Title = "Operator";
}

<div class="row">
    <button type="button" class="col-md-1 AddOperatorButton tableText spaceingBootstrapGrid" data-toggle="modal" data-target="#myModal">
        Dodaj
    </button>
    <div class="col-md-1 EditOperatorButton tableText spaceingBootstrapGrid">
     Edytuj
    </div>
    <div class="col-md-1 RemoveOperatorButton tableText spaceingBootstrapGrid">
     Usuń
    </div>
</div>
<table class="table table-striped" id="categoryTable">
    <thead>
    <tr></tr>
    <tr>
        <th>Login</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Kontakt</th>
        <th>Rola</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Login</td>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@{
@* Forma kontaktu*@
                    int contactForm = item.ContactForm;
                    switch (contactForm)
                    {
                        case 0:
                            <text>Email: </text>
                            break;
                        case 1:
                            <text>
                                Telefon:
                            </text>
                            break;
                        default:
                            <text>
                                Brak
                            </text>
                            break;
                    }
                }@item.Contact
            </td>

            <td>
                @{
                    int role = item.Role;
                    switch (role)
                    {
                        case 0:
                            <text>
                                SuperAdmin
                            </text>
                            break;
                        case 1:
                            <text>
                                Admin
                            </text>
                            break;
                        case 2:
                            <text>
                                User
                            </text>
                            break;
                        default:
                            <text>
                                Brak
                            </text>
                            break;
                    }
                }
            </td>
        </tr>
    }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dodaj użytkownika</h4>
            </div>

            <div class="modal-body row">
                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Login:
                    </div>
                    <div class="col-xs-4">
                        <input type="text" id="loginAdd" value="" class="form"/>
                    </div>
                </div>

                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Hasło:
                    </div>
                    <div class="col-xs-4">
                        <input type="password" id="passwordAdd" value="" class="form"/>
                    </div>
                </div>

                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Imię:
                    </div>
                    <div class="col-xs-4">
                        <input type="text" id="nameAdd" value="" class="form"/>
                    </div>
                </div>

                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Nazwisko:
                    </div>
                    <div class="col-xs-4">
                        <input type="text" id="surnameAdd" value="" class="form"/>
                    </div>
                </div>

                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Forma kontaktu:
                    </div>
                    <div class="col-xs-4">
                        <div class="dropdown" id="contactFormDropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Forma kontaktu
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Telefon</a></li>
                                <li><a href="#">E-mail</a></li>
                                <li><a href="#">Inne</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Kontakt:
                    </div>
                    <div class="col-xs-4">
                        <input type="text" id="contactAdd" value="" class="form"/>
                    </div>
                </div>

                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Rola:
                    </div>
                    <div class="col-xs-4">
                        <div class="dropdown" id="kla">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Rola
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="roleDropdown">
                                <li><a href="#">SuperAdmin</a></li>
                                <li><a href="#">Admin</a></li>
                                <li><a href="#">User</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    <button type="button" class="AddOperatorButton" id="addOperator">Dodaj operatora</button>
                </span>
            </div>
            
        </div>
    </div>
</div>

<script>
    var role1 = "";
    var contactForm;
    var numberOfTry = 0;
    $('#roleDropdown li a').click(function () {
        $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
        role1 = this.text;
        switch (this.text) {
            case "SuperAdmin":
                contactForm = 0;
                break;
            case "Admin":
                contactForm = 1;
                break;
            default:
                contactForm = 2;
                break;
        }
    });

    $('#contactFormDropdown li a').click(function() {
        $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
        switch(this.text) {
            case "Telefon":
                contactForm = 1;
                break;
            case "E-mail":
                contactForm = 0;
                break;
            default:
                contactForm = 2;
                break;
        }
    });


    var link = "/api/OperatorApi/AddOperator";

    $('#addOperator').click(
        
        function () {


            //var login = document.getElementById('loginAdd');
            /*if (login.text != undefined) {*/
            var operator = {};
            
            operator.Login = $('#loginAdd').val();
            operator.Password = $('#passwordAdd').val();
            operator.Name = $('#nameAdd').val();
            operator.Surname = $('#surnameAdd').val();
            operator.ContactForm = contactForm;
            operator.Contact = $('#contactAdd').val();
            operator.Role = role1;

            jQuery.ajax({
                type: "POST",
                url: link,
                data: JSON.stringify(operator),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });

            function successFunc(data, status) {
                console.log(data.name);
            }

            function errorFunc() {
            }
            /*} else {
                console.log("sdasd");
                login.style.borderColor = "red";
            }*/
}
 
    );

</script>


