@model List<WroServer.Models.OperatorModel>

@{
    ViewBag.Title = "Operator";
}


<div class="row">
    <div class="col-md-1 btn btn-success spaceingBootstrapGrid" data-toggle="modal" data-target="#myModal">
        Dodaj
    </div>
    <div class="col-md-1 btn btn-warning editButton tableText spaceingBootstrapGrid" id="editButtonId">
     Edytuj
    </div>
    <div class="col-md-1 btn btn-danger removeButton tableText spaceingBootstrapGrid" id="deleteButtonId">
     Usuń
    </div>
</div>
<table class="table table-striped" id="operatorTable">
    <thead>
    <tr></tr>
    <tr>
        <th>Login</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Kontakt</th>
        <th>Rola</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr id="@item.Id">
            <td id="login_@item.Id">@item.Login</td>
            <td id="name_@item.Id">@item.Name</td>
            <td id="surname_@item.Id">@item.Surname</td>
            <td id="contactForm_@item.Id">@{
@* Forma kontaktu*@
                    int contactForm = item.ContactForm;
                    switch (contactForm)
                    {
                        case 0:
                            <text>Email: </text>
                            break;
                        case 1:
                            <text>
                                Telefon:
                            </text>
                            break;
                        default:
                            <text>
                                Inny:
                            </text>
                            break;
                    }
                }@item.Contact
            </td>

            <td id="role_@item.Id">
                @{
                    int role = item.Role;
                    switch (role)
                    {
                        case 0:
                            <text>
                                SuperAdmin
                            </text>
                            break;
                        case 1:
                            <text>
                                Admin
                            </text>
                            break;
                        case 2:
                            <text>
                                User
                            </text>
                            break;
                        default:
                            <text>
                                Brak
                            </text>
                            break;
                    }
                }
            </td>
            <td id="buttons_@item.Id">
                <span>
                    <input type="button" id="edit_@item.Id" class="subEditButton btn btn-warning" value="Edytuj" />
                    <input type="button" id="changePassword_@item.Id" class="changePassword btn btn-info" value="Zmień hasło" data-toggle="modal" data-target="#modalPassword"/>
                </span>
            </td>
            <td id="removeButton_@item.Id"><input type="button" id="delete_@item.Id" class="btn btn-danger deleteButton" value="Usuń operatora" /></td>
        </tr>
    }
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dodaj użytkownika</h4>
            </div>

            <div class="modal-body row">
                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Login:
                    </div>
                    <div class="col-xs-4">
                        <input type="text" id="loginAdd" value="" class="form-control"/>
                    </div>
                </div>

                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Hasło:
                    </div>
                    <div class="col-xs-4">
                        <input type="password" id="passwordAdd" value="" class="form-control"/>
                    </div>
                </div>

                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Imię:
                    </div>
                    <div class="col-xs-4">
                        <input type="text" id="nameAdd" value="" class="form-control"/>
                    </div>
                </div>

                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Nazwisko:
                    </div>
                    <div class="col-xs-4">
                        <input type="text" id="surnameAdd" value="" class="form-control"/>
                    </div>
                </div>

                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Forma kontaktu:
                    </div>
                    <div class="col-xs-4">
                        <div class="dropdown" id="contactFormDropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Forma kontaktu
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Telefon</a></li>
                                <li><a href="#">E-mail</a></li>
                                <li><a href="#">Inne</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Kontakt:
                    </div>
                    <div class="col-xs-4">
                        <input type="text" id="contactAdd" value="" class="form-control"/>
                    </div>
                </div>

                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Rola:
                    </div>
                    <div class="col-xs-4">
                        <div class="dropdown" id="kla">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                Rola
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="roleDropdown">
                                <li><a href="#">SuperAdmin</a></li>
                                <li><a href="#">Admin</a></li>
                                <li><a href="#">User</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    <button type="button" class="AddOperatorButton" id="addOperator">Dodaj operatora</button>
                </span>
            </div>
            
        </div>
    </div>
</div>

<div class="modal fade" id="modalPassword" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="passwordChangeLabel">Zmień hasło operatora</h4>
            </div>
            
            <div class="modal-body row">

            <div class="row spaceingBootstrapGridSmall">
                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Hasło:
                    </div>
                    <div class="col-xs-4">
                        <input type="password" id="passwordChange" value="" class="form-control" data-toggle="tooltip"/>
                    </div>
                </div>

                <div class="row spaceingBootstrapGridSmall">
                    <div class="col-xs-3">
                        Potwierdź hasło:
                    </div>
                    <div class="col-xs-4">
                        <input type="password" id="passwordChangeValidate" value="" class="form-control" data-toggle="tooltip"/>
                    </div>
                </div>

            </div>
            </div>
            <div class="modal-footer">
                <span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    <button type="button" class="btn btn-success" id="changePasswordButton">Zmień hasło</button>
                </span>
            </div>
        </div>
     
</div>


<script>
    var passwordChangeId = "";
    var role1 = "";
    var contactForm;
    var numberOfTry = 0;
    //Dropdown
    $('#roleDropdown li a').click(function () {
        $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
        role1 = this.text;
        switch (this.text) {
            case "SuperAdmin":
                contactForm = 0;
                break;
            case "Admin":
                contactForm = 1;
                break;
            default:
                contactForm = 2;
                break;
        }
    });
    //Dropdown
    $('#contactFormDropdown li a').click(function() {
        $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
        switch(this.text) {
            case "Telefon":
                contactForm = 1;
                break;
            case "E-mail":
                contactForm = 0;
                break;
            default:
                contactForm = 2;
                break;
        }
    });
    //Tooltip
    $('#passwordChange').tooltip({ title: "Wprowadź nowe hasło.\n Hasło musi posiadać przynajmniej 8 znaków" });
    //Tooltip
    $('#passwordChangeValidate').tooltip({ title: "Hasła muszą się zgadzać." });
    //AddOperator
    $('#addOperator').click(function () {
            var link = "/api/OperatorApi/AddOperator";
            $(".removeButtonRedVisible").hide();
            $(".EditOperatorButton").hide();
            //var login = document.getElementById('loginAdd');
            /*if (login.text != undefined) {*/
            var operator = {};

            operator.Login = $('#loginAdd').val();
            operator.Password = $('#passwordAdd').val();
            operator.Name = $('#nameAdd').val();
            operator.Surname = $('#surnameAdd').val();
            operator.ContactForm = contactForm;
            operator.Contact = $('#contactAdd').val();
            operator.Role = role1;

            jQuery.ajax({
                type: "POST",
                url: link,
                data: JSON.stringify(operator),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });

            function successFunc(data, status) {
                var rola = '';
                switch (role1) {
                    case 0:
                        rola = 'SuerAdmin';
                        break;
                    case 1:
                        rola = 'Admin';
                        break;
                    case 2:
                        rola = 'User';
                        break;
                default:
                }
                if (data.Surname != undefined) {
                    $('#operatorTable').append('<tr>' +
                        '<td>' + data.Login + '</td>' +
                        '<td>' + data.Name + '</td>' +
                        '<td>' + data.Surname + '</td>' +
                        '<td>' + contactForm + ':' + data.Contact + '</td>' +
                        '<td>' + rola + '</td>' +
                        '</tr>');
                    swal({
                        title: "Dodano użytkownika!",
                        type: "success",
                        text:
                            "Dodano nowego użytkownika: " + data.Login,
                        timer: 1000,
                        showConfirmButton: false
                    });
                } else {
                    swal("Nie udało się :(", "Nie udało się dodać operatora, ponieważ któreś pole zostało źle wypełnione lub użytkownik już istnieje", "error");
                }
            }

            function errorFunc() {
                swal("Nie udało się :(", "Nie udało się ponieważ wystąpił błąd", "error");
            }
    });
    //chowanie i wyświetlanie przycisków usuń i edytuj
    $(document).ready(function () { 
        $('#deleteButtonId').click(function () {
            $(".subEditButton").hide();
            $(".changePassword").hide();
            $(".deleteButton").toggle(500);
        });
        $('#editButtonId').click(function () {
            $(".deleteButton").hide();
            $(".subEditButton").toggle(500);
            $(".changePassword").toggle(500);
        });
    });
    //Zmiany kolorów ramek przy wprowadzaniu nowego hasła
    $('#passwordChangeValidate').on('change', function () {
        if ($('#passwordChange').val() != $('#passwordChangeValidate').val()) {
            $('#passwordChange').css("border-color", "#f24437");
            $('#passwordChangeValidate').css("border-color", "#f24437");
        }
        else {
            $('#passwordChange').css("border-color", "#74ad5a");
            $('#passwordChangeValidate').css("border-color", "#74ad5a");
        }
    });
    //Zapisanie Id obiektu, który będzie miał edytowane hasło
    $(".changePassword").click(function () {
        passwordChangeId = this.id;
    });
    //Zmiana hasła
    $('#changePasswordButton').click(changePassword);
    //Zmiana reszty danych dotyczących opertora
    $('.subEditButton').click(function () {
        var operator = {};
        operator.Id = this.id.substring(5);
        operator.login = $('#login_' + operator.Id).text();
        operator.name = $('#name_' + operator.Id).text();
        operator.surname = $('#surname_' + operator.Id).text();
        
        //console.log(operator.login+" "+operator.name+" "+operator.Id)

        $('#' + operator.Id + '').replaceWith(function () {
            return "<tr id=\"" + operator.Id + "\">" +
                           "<td id=\"login_"+operator.Id+" \"> <input type=\"text\" id=\"loginAdd\" value=\" "+ operator.login +" \" class=\"form-control\"</td>" +
                           "<td>3</td>" +
                           "<td>4</td>" +
                           "</tr>";
        });
    });

    //Funkcja zmiany hasła
    function changePassword() {
        
        var user = {};
        user.Id = passwordChangeId.substring(15);
        user.Password = $('#passwordChange').val();
        var passwordValidate = $('#passwordChangeValidate').val();
        var linkChange = "/api/OperatorApi/ChangePassword";

        if (user.Password == "") {
            swal("Niepowodzenie", "Niestety nie można zmienić hasła, ponieważ nie wpisano nowego hasła", "error");
        }
        else if (passwordValidate == "") {
            swal("Niepowodzenie", "Niestety nie można zmienić hasła, ponieważ nie wprowadzono hasła drugi raz", "error");
        }
        else {
            swal({
                title: "Jesteś pewny?",
                text: "Czy na prewno chcesz zmienić hasło?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Tak, zmień!",
                cancelButtonText: "Nie, nie zmianiaj",
                closeOnConfirm: false,
                closeOnCancel: false
            },
        function (isConfirm) {

            if (isConfirm) {
                swal("Zmieniono!", "Zmieniono hasło", "success");
                jQuery.ajax({
                    type: "POST",
                    url: linkChange,
                    data: JSON.stringify(user),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: successFunc,
                    error: errorFunc
                });
                function successFunc(data, status) {
                    if (data != "") {

                    }

                    else
                        swal("Niepowodzenie", "Niestety nie można zmienić hasła, ponieważ nie spełnia ono wymogów", "error");
                }

                function errorFunc() {
                    swal("Problem", "Wystąpił problem ze zmianą hasła", "error");
                }
            }
            else { swal("Anulowano", "Ufff... Nie zmieniłeś hasła", "error"); }
        });
        }

    }

</script>


